TRANXIT_SA_PASSWORD=TranXit_dev_2026!
TRANXIT_JWT_SECRET=replace-with-a-long-local-development-secret
TRANXIT_GATEWAY_PORT=8088
TRANXIT_SQL_PORT=1433
TRANXIT_RABBITMQ_PORT=5672
TRANXIT_RABBITMQ_MANAGEMENT_PORT=15672
